body {
    font-family: Anonymous Pro;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: black;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    border: 2px solid blue;
    padding: 1em;
    color: blue;
}

.flex-child:first-child {
    margin-right: 20px
}

input:valid {
    border: 2px solid green;
}

input:invalid {
    border: 2px solid red;
}

/* bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* button styling */
button {
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbutton {
    width: auto;
    padding: 10px 18px;
    background-color: darkred;;
}

.img-container {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;;
}

span.forgot {
    float: right;
    padding-top: 16px;
}

@media screen and (max-width: 300px) {
    span.forgot {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

/* 

modal styling 

*/

/* modal background */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* enables scroll if needed */
    background-color: rgb(0,0,0); /* fallback color */
    background-color: rgba(0,0,0,0.4); /* black with opacity */
    padding-top: 60px;
}

/* modal content/box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from top + centered */
    border: 1px solid grey;
    width: 80%; /* depends on screen size */
}

/* modal close button */
.close-modal-button {
    /* top-right corner INSIDE of modal */
    position: absolute;
    right: 165px;
    top: 70px;
    color: black;
    font-size: 35px;
    font-weight: bold;
}

/* modal close button hover */
.close-modal-button:hover,
.close-modal-button:focus {
    color: red;
    cursor: pointer;
}

/* zoom animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}